In [2]:
import cloudpickle as pkl
file = open('./model.pkl', 'rb')
model = pkl.load(file)

In [8]:
import pandas as pd
data = pd.read_csv('./processed_data.csv', index_col=0)

#Define not relevant columns for the classification target
not_relevant_cols = ['year','grade']

data.drop(columns=not_relevant_cols, inplace=True)
data.head(3)

,sex,town,age,paes,major,faculty,VR,SR,AR,NA,MR,CSA,habits,approved,sch_type
0,Femenino,Soyapango,23,5.52,Licenciatura en Idiomas con especialidad en la...,Facultad de CC. y Humanidades,75,15,20,5,45,5,5,Aprobado,Privado
1,Femenino,Soyapango,23,4.50,Licenciatura en Ciencias de la Comunicación,Facultad de CC. y Humanidades,75,20,15,50,15,5,1,Aprobado,Privado
2,Femenino,Soyapango,24,3.83,Licenciatura en Idiomas con especialidad en Tu...,Facultad de CC. y Humanidades,45,5,10,30,15,5,4,Aprobado,Público

In [11]:
X = data.drop(columns='approved')
y = data.approved

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y = encoder.fit_transform(y)

In [15]:
model.score(X,y)

0.7374833110814419

In [22]:
dic = {}
dic['sex'] = X.sex.unique().tolist()
print(dic['sex'])

['Femenino', 'Masculino']

In [26]:

print(type(dic['sex']))

<class 'NoneType'>